.about {
  font: Helvetica;
}

.title {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid; background-color: #005b7f;
  font-family: sans-serif: "Helvetica"
}

.top {
  width: 60%
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
