/*Styles for my resume*/

body {
  color: #000000;
  text-align: center;
  font-family: 'Open Sans', Helvetica;
}

/*section header*/

div #sectionheader {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid; background-color: #005b7f;
}

/*job title*/
div #jobtitle {
  color: ##000000;
  font-size: 1.15em;
  font-weight: bold;
}

/*job organization*/
div #organization {
  font-size: 1.15em;
  font-weight: bold;
}

/*date*/
div #date {
  font-size: 1em;
  font-style: italic;
}

/*about me section*/
div #aboutmetitle {
  font: Helvetica;
  font-size: 2em;
  color: red;
}

.about {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid; background-color: #005b7f;
  font-family: Helvetica;
}

.text {
  font-family: Helvetica;
  color: #black;
  font-size:1.15em;
}

.experience {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid; background-color: #005b7f;
  font-family: Helvetica;
}

/*extra credit*/
div #socialmedia {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid; background-color: #005b7f;
}
